.footer {
  background: #151616;
  padding: 20px 0;
  color: #FFFFFF;
}

.footer-title {
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.contacts-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts-block .contact {
  display: grid;
  justify-content: center;
  text-align: center;
}
.contacts-block .contact img {
  margin: 0 auto;
}
.contacts-block .contact-title {
  margin: 40px 0 8px;
}
.contacts-block .contact-link {
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 8px;
}
.contacts-block .contact-subtitle {
  margin-bottom: 5px;
}

/*# sourceMappingURL=footer.css.map */
