@import "import";

.map-section {
  background: $background;
  padding: 20px 0;
  text-align: center;
  color: $text-color;
}

.map-block {
  width: max-content;
  margin: 0 auto;
  border: 5px solid $uniq-color;
  padding: 27px;
  box-sizing: border-box;

  & img{
    margin-bottom: 12px;
  }

  & .map-title {
    font-size: 22px;
  }
}

@media screen and (max-device-width: 768px) {
  .map-section {
    padding-bottom: 60px;
  }
}

@media screen and (max-device-width: 375px) {
  .map-block {
    width: 600px;
  }
}