@import "import";


.nav-bar {
  background: $background;
  @include flex__element;
  justify-content: space-between;

  padding: 28px 0 28px 60px;
  box-sizing: border-box;
  overflow: hidden;
}

.nav-menu {
  @include flex__element;
}

.menu-item {
  list-style: none;
  color: $text-color;
  padding: 0 50px;
}

.nav-link {
  color: $text-color;
  text-decoration: none;
  font-size: 20px;
}

.header-block {
  width: 100vw;
  background: $background;
}

.flexible {
  display: flex;
  justify-content: center;
  margin-left: 110px;
}

.main-block {
  background-image: url("../IMG/fitness_club_photo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 945px;
  height: 513px;
  position: relative;
}

.design-block {
  width: 110px;
  height: 350px;
  background-color: $uniq-color;

  //position: absolute;
  //right: -104px;
  //top: 0;
}

.absolute-block {
  position: absolute;
  top: 80px;
  left: 44px;
  color: $text-color;
  text-align: center;
  line-height: 39px;
}

.name-company {
  background: $background;
  padding: 52px 46px;
  font-size: 32px;
  box-sizing: border-box;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.link {
  background: $background;
  padding: 14px 55px;
  box-sizing: border-box;
  color: $text-color;
}

.burger-menu {
  width: 25px;
  height: 2px;
  background-color: $media-color;
  position: absolute;
  top: 50px;
  right: 30px;
  z-index: 2;
  display: none;
}

.burger-menu::after, .burger-menu::before {
  content: " ";
  position: absolute;
  background-color: $media-color;
  width: 25px;
  height: 2px;
  z-index: 2;
}

.burger-menu::after {
  top: -5px;
}

.burger-menu::before {
  top: 5px;
}

@media screen and (max-device-width: 1024px) {
  .flexible {
    margin-left: 0;
    flex-direction: column;
    align-items: flex-end;
  }

  .main-block {
    width: 100%;
    background-size: 110%;
  }

  .design-block {
    width: 350px;
    height: 110px;

    //right: 5px;
    //top: 100%;
  }
}

@media screen and (max-device-width: 768px) {
  .nav-bar {
    position: relative;
  }

  .nav-menu {
    flex-direction: column;
    justify-content: space-evenly;
    height: 350px;
    position: absolute;
    top: 0;
    right: -190px;
    z-index: 1;
    background-color: $uniq-color;
  }

  .burger-menu {
    display: block;
  }

  .main-block {
    background-size: 110%;
  }
}