.about-us-block {
  background: #151616;
  color: #FFFFFF;
  padding-top: 37px;
}

.about-us-text {
  width: 932px;
  font-size: 25px;
  margin: 0 auto 69px;
}

.our-services {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-block {
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 22px;
  padding: 50px;
}

.service-link {
  color: #FFFFFF;
  text-decoration: none;
}

/*# sourceMappingURL=service.css.map */
